/*----------------------------------------------
    # Faq style here
----------------------------------------------*/
.faq1 {
    &__thumb {
        border-radius: 20px;
        margin-left: -350px;
        position: relative;
        img {
            border-radius: 20px;
            width: 100%;
        }
    }
}

.faq-content {
    position: relative;
    z-index: 9;
    padding: 25px;
    background: $theme-color;
    border-radius: 20px;
    @include breakpoint (md) {
        padding: 60px;
    }
    @include breakpoint (xl) {
        margin-top: 45px;
    }
    @include breakpoint (xxl) {
        margin-top: 76px;
    }
    &-title {
        padding-bottom: 9px;
    }

    .accordion-item {
        background-color: $theme-color;
        border: none;
        border-bottom: 1px solid rgba(121, 100, 198);

        .accordion-header {
            .accordion-button {
                padding: 37px 0px 18px;
                border: none;
                border-radius: 0;
                box-shadow: none;
                text-align: left;
                background-color: $theme-color;

                color: var(--White, #FFF);
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: "DM Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 27px; /* 150% */
            

                &:after {
                    font-weight: 500;
                    transition: all 0.3s ease-in-out !important;
                    background-image: url(../../assets/images/icon/plus-icon-white.svg);
                    color: $theme-color;
                }

                &:not(.collapsed):after {
                    background-image: url(../../assets/images/icon/minus-icon-white.svg);
                    font-weight: 500;
                    color: $theme-color;
                }

                &.collapsed {
                    background-color: transparent;
                    padding: 37px 0px 18px;
                    color: $white;
                }

            }
        }

        .accordion-collapse {
            border: none;
            .accordion-body {
                padding-right: 30px;
                padding-left: 0px;
                padding-top: 15px;
                padding-bottom: 14px;
                background-color: $theme-color;


                color: var(--White, #FFF);
                font-family: "DM Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28.01px; 

                @include breakpoint (max-xxl) {
                    padding-right: 50px;
                }

                @include breakpoint (max-lg) {
                    padding-right: 30px;
                }
            }
        }
    }
}
