.team1 {
    &-card {
        position: relative;
        @include breakpoint (max-sm){
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &__title {
            text-transform: uppercase;
            text-align: center;
            padding-top: 20px; 
        }
        &__desc {
            color: var(--Black, #262626);
            text-align: center;
            font-family: "Plus Jakarta Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            padding-top: 2px;
        }
        &-thumb {
            position: relative;
            &__icon {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                bottom: 24%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                z-index: 10;
                img {
                    background: #FFF;
                    padding: 12px;
                    border-radius: 12px;
    
                }
            }
            &:hover {
                .team1 {
                    &-card {
                        &-thumb {
                            &__icon {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
.team2 {
    &-card {
        position: relative;

        &-box {
            position: relative;
            &__bg {
                border-radius: 20px;
                background: var(--Background, #F9F9F9);
                width: 306px;
                height: 350px;
                &:hover {
                    background: var(--color, #F3604C);
                }
            }
            &-thumb {
                // position: relative;
                &__one {
                    position: absolute;
                    top: 24px;
                    right: 5px;
                    border-radius: 20px;
                    img {
                        border-radius: 20px;
                        width: 282px;
                        height: 350px;
                    }
                }
                &__icon {
                    visibility: visible;
                    opacity: 1;
        
                    position: absolute;
                    bottom: -24px;
                    right: -24px;
                    transform: translateX(-53%);
                    z-index: 10;
        
                    display: flex;
                    width: 54px;
                    height: 54px;
                    padding: 18px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    flex-shrink: 0;
                    border-radius: 0px 0px 20px 0px;
                    background: var(--color, #F3604C);
        
                    img {
                        border-radius: 0px 0px 20px 0px;
                        max-width: fit-content;
                    }
                }
                &:hover {
                    .team2 {
                        &-card {
                            &-box {
                                &-thumb {
                                    &__icon {
                                        background: var(--Black, #262626);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        &__title {
            text-transform: uppercase;
            text-align: center;
            padding-top: 48px; 
        }
        &__desc {
            color: var(--Black, #262626);
            text-align: center;
            font-family: "Plus Jakarta Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            padding-top: 2px;
        }

    }
}
.team {
    &-card {
        position: relative;
        &-circle {
            border-radius: 410px;
            border: 1px solid rgb(199, 193, 204);
            width: 410px;
            height: 410px;
        }
        &__thumb {
            position: absolute;
            top: -16px;
            left: 13%;

            &.two {
                position: absolute;
                top: 6px;
                left: 20%;
            }
            &.three {
                position: absolute;
                top: 15px;
                left: 4%;
            }
            &.four {
                position: absolute;
                top: -7px;
                left: 10%;
            }
            &.five {
                position: absolute;
                top: -3px;
                left: 0%;
            }
        }
        &-shape {
            position: absolute;
            bottom: 0;
        }
        &-title {
            h3 {
                position: absolute;
                left: 24%;
                bottom: 10%;
    
                color: var(--White, #FFF);
                text-align: center;
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: "DM Sans";
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 34.91px; /* 145.458% */
                letter-spacing: -0.25px;
            }
        }
    }
}






.social-profile {
    position: absolute;
    top: 5%;
    right: 50px;

}
.social-profile {
    position: absolute;
    right: 43%;
    top: 34%;
    max-height: 380px;
    content: "";
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 2;
    display: inline-block;
    z-index: 9;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
  
    ul {
      max-width: 50px;
      padding: 5px 0;
      margin: 0 auto;
      transform: translateY(100px);
      transition: all 0.6s ease-in-out;
      opacity: 0;
      visibility: hidden;
      border-radius: 144px;
      -webkit-transform: translateY(100px);
      -moz-transform: translateY(100px);
      -ms-transform: translateY(100px);
      -o-transform: translateY(100px);
      -webkit-border-radius: 144px;
      -moz-border-radius: 144px;
      -ms-border-radius: 144px;
      -o-border-radius: 144px;
  
      li {
        margin-bottom: 8px;
        display: block;
        text-align: center;
  
        &:last-child {
          margin-bottom: 0px;
        }
  
        a {
          width: 36px;
          height: 36px;
          line-height: 36px;
          line-height: 36px;
          text-align: center;
          font-size: 18px;
          display: inline-block;
          background: $white;
          color: $theme-color;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
          border-radius: 50%;
          -moz-transition: all .4s ease-in-out;
          -ms-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;
  
          &:hover {
            background-color: $theme-color;
            color: $white;
          }
        }
      }
    }
  
    .plus-btn {
      z-index: 2;
      cursor: pointer;
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-size: 18px;
      display: inline-block;
      background-color: $white;
      color: $title-color;
      @include transition;
      border-radius: 50%;
      &:hover {
        background-color: #8FD45F;
      }
  
    }
  
    &:hover {
      ul {
        transform: translateY(-10%);
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        -o-transform: translateY(-10%);
      }
    }
  }