.counter {
    border-radius: 20px;
    background: var(--White, #FFF);
    padding: 244px 80px 62px;
    margin-top: -166px;
    @include breakpoint(max-xl) {
        padding: 244px 40px 62px;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;

        @include breakpoint(max-lg) {
            // justify-content: center;
        }

        &-box {
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 79px;
                height: 1px;
                background: #07000E;
                opacity: 0.2;
                margin: 10px auto;
                position: absolute;
                right: -125px;
                top: 50px;
                @include breakpoint (max-xxl) {
                    right: -100px;
                }
                @include breakpoint (max-xl) {
                   display: none;
                }
            }

            &:last-child::after {
                display: none;
            }

            &__value {
                color: var(--Gray-900, #07000E);
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: "DM Sans";
                font-size: 72px;
                font-style: normal;
                font-weight: 700;
                line-height: 72px;
                letter-spacing: -2px;
                padding-bottom: 7px;

                @include breakpoint(max-lg) {
                    font-size: 52px;
                }
            }

            &__label {
                p {
                    color: var(--Gray-900, #07000E);
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: "DM Sans";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28.01px;
                }
            }
        }
    }
}

.counter {
    &-item2 {
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        @include breakpoint (max-xl) {
            gap: 10px;
        }
        &-box {
            display: flex;
            justify-content: center;
            position: relative;
            align-items: center;
            padding-right: 20px;
            padding-bottom: 20px;
            @include breakpoint (max-xl) {
                padding-bottom: 0px;
            }
            &:not(:last-child) {
                border-bottom: 1px solid #573DB8;
            }

            &__value {
                color: var(--Gray-900, #07000E);
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: "DM Sans";
                font-size: 73.407px;
                font-style: normal;
                font-weight: 700;
                line-height: 73.407px; 
                letter-spacing: -2.039px;
                padding-bottom: 7px;
                padding-right: 20px;

                @include breakpoint(max-lg) {
                    font-size: 52px;
                }
            }

            &__label {
                p {
                    color: var(--Gray-800, #716F73);
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: "DM Sans";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28.01px; 
                }
            }
        }
    }
}
