.counter {
    border-radius: 20px;
    background: var(--White, #FFF);
    padding: 244px 80px 62px;
    margin-top: -166px;

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        @include breakpoint (max-lg) {
            justify-content: center;
        }

        &-box {
            display: flex;
            justify-content: center;
            flex-direction: column;

            &__value {
                color: var(--Gray-900, #07000E);
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: "DM Sans";
                font-size: 72px;
                font-style: normal;
                font-weight: 700;
                line-height: 72px; 
                letter-spacing: -2px;
                padding-bottom: 7px;
                @include breakpoint (max-lg) {
                    font-size: 60px;
                }
            }
            &__label {
                p {
                    color: var(--Gray-900, #07000E);
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: "DM Sans";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28.01px; 
                }
            }
        }
    
    }
}

