.marquee-wrapper {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	height: 131px;
	padding-top: 24px;
	background: $theme-color;
	z-index: 9;

	&.style-1 {
		background-color: transparent;
		line-height: 55px;

		@include breakpoint (max-xxl) {
			margin-bottom: 0px;
			margin: 30px 0;
		}

		@include breakpoint (max-md) {
			margin-bottom: -50px;
			margin: 0px 0px;
		}

		&.text-slider {
			height: auto;
		}
	}
}

.text-slider {
	font-family: $title-color;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 57.6px;
	color: $white;


	@include breakpoint (max-md) {
		font-size: 36px;
	}

	img {
		margin-bottom: 10px;
		margin-right: 8px;
		margin-left: 10px;
	}
}

.marquee-inner {
	position: absolute;
	display: inline-flex;
	width: 200%;
}

.marquee-list {
	float: left;
	width: 50%;
}

.marquee-item {
	float: left;
	transition: animation 0.2s ease-out;

	&.style1 {
		.text-style {
			@include transition;
			background-image: linear-gradient($theme-color, $theme-color);
			background-position: 0 95%;
			background-repeat: no-repeat;
			background-size: 0% 2px;
			color: transparent;
			-webkit-text-stroke: 1px #bcb8b1;
			font-family: $title-font;
			font-size: 80px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;

			&:hover {
				color: $theme-color;
				background-size: 100% 3px;
				opacity: 1;
			}
		}
	}

	&.style-2 {
		.text-slider {
			color: var(--White, #FFF);
			font-feature-settings: 'liga' off, 'clig' off;
			font-family: "DM Sans";
			font-size: 73.407px;
			font-style: normal;
			font-weight: 700;
			line-height: 73.407px; /* 100% */
			letter-spacing: -2.039px;
            padding-right: 30px;

			@include breakpoint (max-md) {
				font-size: 36px;
			}
		}

		.text-style {
			@include transition;
			background-image: linear-gradient($theme-color-2, $theme-color-2);
			background-position: 0 95%;
			background-repeat: no-repeat;
			background-size: 0% 2px;
            padding-right: 20px;
		}
	}
}

.marquee-inner.to-left {
	animation: marqueeLeft 25s linear infinite;
}

@keyframes marqueeLeft {
	0% {
		left: 0;
	}

	100% {
		left: -100%;
	}
}

.marquee-inner.to-right {
	animation: marqueeRight 25s linear infinite;
}

@keyframes marqueeRight {
	0% {
		right: 0;
	}

	100% {
		right: -100%;
	}
}
