/*----------------------------------------------
    # Video style here
----------------------------------------------*/
.video-box-area {
  position: relative;
  z-index: 3;

  .video-wrap  {
    &.style1 {
      padding: 0;

      .video-box {
        position: relative;
        z-index: 5;
        padding: 64px 0 400px;
        border-radius: 20px;

        @include breakpoint (max-lg) {
          padding: 50px 0 390px;
        }

        @include breakpoint (max-md) {
          padding: 40px 0 370px;
        }
    
        &.background-image {
          background-position: center;
          background-repeat: no-repeat;
          // background-size: cover;
        }
    
        .play-btn {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 6;

          svg {
            width: 80px;
            height: 80px;
            @include breakpoint (md) {
                width: 100px;
                height: 100px;
            }
          }
        }      
      }
    }
  }
}